
/*Style généraux peut importe le device*/


/*police utilisée*/

@font-face
{
  font-family: "fontawesome_regular", arial, sans-serif;
 src: url("/fonts/fontawesome-regular-webfont.woff") format("woff"),
      url("/fonts/fontawesome-regular-webfont.ttf") format("truetype"),
      url("/fonts/fontawesome-regular-webfont.eot") format("eot"),
      url("/fonts/fontawesome-regular-webfont.svg") format("svg");

    font-family: "glyphicons_halflings_regular", arial, sans-serif;
 src: url("/fonts/glyphicons-halflings-regular.woff") format("woff"),
      url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
      url("/fonts/glyphicons-halflings-regular.eot") format("eot"),
      url("/fonts/glyphicons-halflings-regular.svg") format("svg");

    font-style: normal;
    font-weight: normal;
}

/*____________le corps de la page______________________________*/
body
{
  font-family: "fontawesome_regular", arial, sans-serif;
}

#main-wrapper
{
  width: auto;
}

h2
{
  text-transform: uppercase;
}

p
{
   font-weight: bold;
}

.hidden {
  display: none;
}
/*______________________________________mise en forme en-tete de page__________________________________________*/

header
{
  width: 100%;
}
/*____________________logo et menu navigation principale_________________*/

.logo
{
  margin-top: 15px;
}

.menu_navigation
{
  text-align: center;
  width: 330px;
}

.menu_navigation ul
{
   display: flex;
   justify-content: space-around;
   text-align: center;
}

.menu_navigation li
{
  list-style-type: none;
  display: inline-block;
}


.menu_navigation a
{
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(136, 139, 143);
  text-decoration: none;
  border: 2px solid rgb(70, 140, 173);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 10px 15px;
}

/*________________________partie slide________________________*/

.slideshow-container
{
  max-width: 100%;
  position: relative;
  margin: auto;
}
.mySlides img
{
  max-width: 100%;
}

.mySlides
{
  display: none;
}

.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 45px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;

}

.next
{
  right: 0;
}

.prev:hover
{
  border: 2px solid rgb(73, 67, 83);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: rgb(73, 67, 83);
 }

 .next:hover
 {
  border: 2px solid rgb(73, 67, 83);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: rgb(73, 67, 83);
 }

.text
{
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 0.2em;
}

.text h1
{
  color: rgb(92, 173, 211);
  text-transform: uppercase;

}

.text span
{
  color: white;
}

.text p
{
  color: white;
}

.bouton_infos
{
  background-color: rgb(92, 173, 211);
  text-decoration: none;
  color: white;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 0.2em;
  font-weight: bold;
  border-top: 2px solid rgb(92, 173, 211);
  border-left:2px solid rgb(92, 173, 211);
  border-right:2px solid rgb(92, 173, 211);
  border-bottom:2px solid rgb(76,140,170);
}

.fade
{
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade
{
  from {opacity: .4}
  to {opacity: 1}
}

/*_________________________media queries tablets________________________*/

@media(min-width:768px)
{
  header
  {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
  }

  .text
  {
  top: 70px;
  left: 100px;
  font-size: 0.5em;
  }


  .bouton_infos
  {
  padding: 10px 20px;
  font-size: 1em;
  }

  .presentation
  {
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 1.2em;
  font-weight: bold;
  }

  .prev, .next
  {
    top:120px;
  }
}


/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  .logo
  {
    margin-bottom: 15px;
  }

  .menu_navigation a
  {
    border: 0px;
    border-radius: 0px;
  }

  .menu_navigation a:hover
  {
     border-top: 2px solid rgb(70, 140, 173);
     padding-top: 30px;
  }

  .text
  {
  top: 110px;
  left: 110px;
  font-size: 0.8em;
  }

  .bouton_infos
  {
  padding: 15px 30px;
  font-size: 1em;
  }

  .prev, .next
  {
    top:160px;
  }
}


/*_____première partie section nos services_______________________________*/

.nos_services
{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

.nos_services p
{
  color: rgb(136, 139, 143);
  font-size: 0.7em;
  margin-top: 50px;
}

.point_bleu_services
{
  border: 2px solid rgb(92, 173, 211);
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  width: 12px;
  height: 12px;
}

.point_bleu_services span
{
  position: relative;
}

.point_bleu_services span:before,
.point_bleu_services span:after
{
  content: "";
  position: absolute;
  border-bottom: 2px solid rgb(238, 235, 235);
  width: 85px;
  height: 7px;
  top: 40%;
  margin-top: -3px;
}

.point_bleu_services span:before
{
  right: 100%;
  margin-right: 10px;
}

.point_bleu_services span:after
{
  left: 100%;
  margin-left: 10px;
}


/*_____________deuxième partie section nos services_______________________*/

.mac
  {
    max-width: 100%;
  }

.ordi_services
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icones_texte_services span
{
  color: rgb(136, 139, 143);
}

.icones_texte_services
{
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.7em;
}

.texte p 
 {
color: rgb(136, 139, 143);
 }

.ensemble
{
  text-align: center;
}

.ensemble i
{
  color: rgb(92, 173, 211);
  border: 2px solid rgb(238, 235, 235);
  border-radius: 50%;
  padding: 13px 13px;
  position: relative;
  margin-right: 25px;
}

.ensemble .icone
{
  border: 2px solid rgb(92, 173, 211);
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 20px;
  right: -5px;
}


/*_________________________media queries tablets________________________*/

@media(min-width:768px)
{
  @keyframes animationmac
  {
    0%
    {
      transform: rotateX(0deg) scale(1, 1);
    }
    100%
    {
      transform: rotateX(360deg) scale(0.5, 0.5);
    }
  }
  
  .mac:hover
  {
    animation: animationmac 2s ease alternate;
  }

  .nos_services
  {
    width: 50%;
  }

 .icones_texte_services
  {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   padding-left: 5px;
   padding-right: 5px;
   font-size: 0.9em;
   text-align: justify;
  }

  .ensemble
  {
  display: flex;
  justify-content: space-around;
  align-items: center;
    text-align: justify;
  }

  .nos_services p
  {
    font-size: 1em;
  }
}
/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  .ordi_services
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 450px;
  }

  .nos_services
  {
    margin-bottom: 40px;
  }

  .nos_services h2
  {
    font-size: 3.5em;
  }

  .icones_texte_services
  {
    width: 40%;
    align-self: flex-end;
  }

  .mac
  {
    align-self: flex-start;
  }
}

/*___________________________section nos projets___________________*/

#portfolio
{
  margin-top: 40px;
}

.nos_projets
{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

.nos_projets p
{
  color: rgb(136, 139, 143);
  font-size: 0.7em;
  margin-top: 50px;
}

.menu_projets ul
{
   display: flex;
   justify-content: center;
   align-items:center;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

.menu_projets li
{
  list-style-type: none;
  display: inline-block;
  display: inline-table;
  border-collapse: collapse;
}


.menu_projets a
{
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(136, 139, 143);
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgb(238, 235, 235);
  margin-right: -2px;
}


.menu_projets a:hover
{
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgb(92, 173, 211);
  margin-right: -2px;
  border-bottom: 2px solid rgb(70, 140, 173);
  position:relative;

}

.menu_projets a:hover:after
{
    content: "";
    border: 9px solid transparent;
    border-top: 9px solid rgb(76,140,170);
    top: 34px;
    left: 35px;
    position:absolute;
}



.all_w
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.port
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*__________________images portfolio______*/

#all_works
{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img_portfolio
{
  position: relative;
  padding-bottom: 5px;
}

.img
{
  height: 200px;
  position: relative;
}

.texte_img
{
  position: absolute;
  color: white;
  width: 300px;
  height: 80px;
  left:0px;
  top:120px;
  background-color: rgba(15,15,15,0.5);
  opacity:0;
  transition: opacity .5s ease;
}

.img_portfolio:hover .texte_img
{
  opacity:1;
}

.texte_img i
{
  position: absolute;
  left:240px;
  top:-25px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  padding: 10px 10px;
  max-width: 100%;
}

.texte_img p
{
  font-size: 1.2em;
  padding: 5px 59px 20px 6px;
}

.all_img
{
  margin-bottom: 210px;
}

/*_________________________media queries tablets________________________*/
@media(min-width:768px)
{
  .nos_projets
  {
    width: 50%;
  }

  .nos_projets p
  {
    font-size: 1em;
  }

   .menu_projets a
  {
    font-size: 1em;
  }

  .menu_projets a:hover
  {
    font-size: 1em;
  }

  .menu_projets a:hover:after
  {
   top: 39px;
   left: 40px;
  }
  .texte_img i
  {
    font-size: 1.2em;
  }

    .img_portfolio
  {
    padding-right:5px;
  }

  .all_img
  {
  margin-bottom: 50px;
  }
}


/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  .nos_projet
  {
    margin-bottom: 40px;
  }

  .nos_projets h2
  {
    font-size: 3.5em;
  }
}

/*_____________________section contact___________________________*/

/*__________________google map____________________*/
#contact {
    margin-top: 80px;
}

#map
{
  height: 600px;
  max-width: 100%;
  margin-top: 50px;
}

/*_______________formulaire_______*/

#formulaire h3
{
  font-size: 1.9em;
  padding-left: 20px;
}

#formulaire p
{
  font-weight: normal;
  color:rgb(136, 139, 143);
  padding-left: 20px;
}

form
{
  width: 90%;
  display: flex;
  justify-content: center;
}

textarea
{
  width: 93%;
  margin-top: 15px;
  border: 1px solid rgb(136, 139, 143);
  padding: 10px 10px;
}

input
{
  width: 93%;
  margin-top: 15px;
  border: 1px solid rgb(136, 139, 143);
  padding: 10px 10px;
  border-radius: 2px;
}

.bouton_envoye
{
  background-color: rgb(92, 173, 211);
  border-top: 2px solid rgb(92, 173, 211);
  border-left: 2px solid rgb(92, 173, 211);
  border-right: 2px solid rgb(92, 173, 211);
  border-bottom: 2px solid rgb(76,140,170);
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  width: 50%;
}

/*_________________________media queries tablets________________________*/
  @media(min-width:768px)
{
  #contact
  {
    position:relative;
  }
  #map
  {
  position:relative;
  }

  #formulaire
  {
  background-color:rgba(255,255,255,0.5);
  position:absolute;
  right: 5px;
  top:35px;
  width: 28%;
  }

}


/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  #formulaire
  {
   right: 50px;
  }
}

/*_______________________________________footer________________________*/

footer
{
 text-align: center;
}

.footp
{
  margin-top: 20px;
  margin-bottom: 25px;
  color: rgb(136, 139, 143);
}

.retour_hp a
{
  text-decoration: none;
  color: rgb(136, 139, 143);
  font-weight: bold;
}

/*_________________________media queries tablets________________________*/
  @media(min-width:768px)
{
   footer
   {
  display: flex;
  justify-content:space-around;
  align-items: baseline;
  }
}


/*________________________________media queries desktop__________*/
