
/*Style généraux peut importe le device*/


/*police utilisée*/

@font-face
{
  font-family: "fontawesome_regular", arial, sans-serif;
 src: url("/fonts/fontawesome-regular-webfont.woff") format("woff"),
      url("/fonts/fontawesome-regular-webfont.ttf") format("truetype"),
      url("/fonts/fontawesome-regular-webfont.eot") format("eot"),
      url("/fonts/fontawesome-regular-webfont.svg") format ("svg");

    font-family: "glyphicons_halflings_regular", arial, sans-serif;
 src: url("/fonts/glyphicons-halflings-regular.woff") format("woff"),
      url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
      url("/fonts/glyphicons-halflings-regular.eot") format("eot"),
      url("/fonts/glyphicons-halflings-regular.svg") format("svg");

    font-style: normal;
    font-weight: normal;
}

/*____________le corps de la page______________________________*/
body
{
  font-family: "fontawesome_regular", arial, sans-serif;
}

#main-wrapper
{
  width: auto;
}

/*______________________________________mise en forme en-tete de page__________________________________________*/

header
{
 width: auto;
}
/*____________________logo et menu navigation principale_________________*/

.logo
{
  margin-top: 15px;
}

.menu_navigation
{
   display: flex;  
   justify-content: space-around;  
   text-align: center;
}

.menu_navigation li
{
  list-style-type: none;
  display: inline-block;    
  display: inline-flex;
  margin-right: 15px;
  margin-bottom: 10px;
}


.menu_navigation a
{
  font-weight: bold;
  font-size: small;
  color: rgb(136, 139, 143);
  text-decoration: none;
  border: 2px solid rgb(70, 140, 173);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 10px 15px;
}

/*________________________partie slide________________________*/

.slideshow
{
  width: auto%;
}

.img1_slide
{
  position: relative;
}

.img2_slide
{
  position: relative;
  display: none;
}

.texte_presentation
{
  position: absolute;
  top: 28%;
  left: 15%;
}

.texte_presentation h1
{
  color: rgb(92, 173, 211);
  text-transform: uppercase;
}

.texte_presentation span
{
  color: white;
}

.texte_presentation p
{
  color: white;
}

.bouton_infos
{
  background-color: rgb(92, 173, 211);
  text-decoration: none;
  color: white;
  border-radius: 2px;
  text-decoration: center;
  padding: 15px 30px;
}

.icon_clic_droit .fa
{
  color: white;
  padding: 10px 9px;
  position: absolute;
  top: 45%;
  left: 97.8%;
}

.icon_clic_droit .fa:hover
{
  border: 2px solid rgb(73, 67, 83);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: rgb(73, 67, 83);
}

.icon_clic_gaughe .fa
{
  color: white;
  padding: 10px 9px;
  position: absolute;
  top: 45%;
}

.icon_clic_gaughe .fa:hover
{
  border: 2px solid rgb(73, 67, 83);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: rgb(73, 67, 83);
}
/*_________________________media queries tablets________________________*/










/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  .presentation
  {
   display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  }

  .logo
  {
    margin-bottom: 15px;
  }

  .menu_navigation a
  {
    border: 0px;
    border-radius: 0px;
  }
  
  .menu_navigation a:hover
  {
     border-top: 2px solid rgb(70, 140, 173);
     padding-top: 25px;
  }
}

/*_____________________________mise e
