
/*Style généraux peut importe le device*/


/*police utilisée*/

@font-face
{
  font-family: "fontawesome_regular", arial, sans-serif;
 src: url("/fonts/fontawesome-regular-webfont.woff") format("woff"),
      url("/fonts/fontawesome-regular-webfont.ttf") format("truetype"),
      url("/fonts/fontawesome-regular-webfont.eot") format("eot"),
      url("/fonts/fontawesome-regular-webfont.svg") format ("svg");

    font-family: "glyphicons_halflings_regular", arial, sans-serif;
 src: url("/fonts/glyphicons-halflings-regular.woff") format("woff"),
      url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
      url("/fonts/glyphicons-halflings-regular.eot") format("eot"),
      url("/fonts/glyphicons-halflings-regular.svg") format("svg");

    font-style: normal;
    font-weight: normal;
}

/*____________le corps de la page______________________________*/
body
{
  font-family: "fontawesome_regular", arial, sans-serif;
}

#main-wrapper
{
  width: auto;
}

h2
{
  text-transform: uppercase;
}

p
{
   font-weight: bold;
}
/*______________________________________mise en forme en-tete de page__________________________________________*/

header
{
  width: 100%;
}
/*____________________logo et menu navigation principale_________________*/

.logo
{
  margin-top: 15px;
}

.menu_navigation ul
{
   display: flex;  
   justify-content: space-around;  
   text-align: center;
}

.menu_navigation li
{
  list-style-type: none;
  display: inline-block;  
}


.menu_navigation a
{
  font-weight: bold;
  font-size: 0.7em; 
  color: rgb(136, 139, 143);
  text-decoration: none;
  border: 2px solid rgb(70, 140, 173);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 10px 15px;
}

/*________________________partie slide________________________*/

.slideshow
{
  max-width: 100%;
  margin-bottom: 30px;
}

.img1_slide
{
  position: relative;
}

.img1_slide img
{
   max-width: 100%;
}

.img2_slide
{
  position: relative;
  display: none;
}

.img2_slide img
{
   max-width: 100%;
}

.texte_presentation
{
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 0.2em;
}

.texte_presentation h1
{
  color: rgb(92, 173, 211);
  text-transform: uppercase;

}

.texte_presentation span
{
  color: white;
}

.texte_presentation p
{
  color: white;
}

.bouton_infos
{
  background-color: rgb(92, 173, 211);
  text-decoration: none;
  color: white;
  border-radius: 2px;
  text-decoration: center;
  padding: 5px 10px;
  font-size: 0.2em;
}

.icon_clic_droit .fa
{
  color: white;
  padding: 10px 9px;
  position: absolute;
  top: 45%;
  left: 97.8%;
}

.icon_clic_droit .fa:hover
{
  border: 2px solid rgb(73, 67, 83);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: rgb(73, 67, 83);
}

.icon_clic_gaughe .fa
{
  color: white;
  padding: 10px 9px;
  position: absolute;
  top: 45%;
}

.icon_clic_gaughe .fa:hover
{
  border: 2px solid rgb(73, 67, 83);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: rgb(73, 67, 83);
}
/*_________________________media queries tablets________________________*/

@media(min-width:768px)
{
  .texte_presentation
  {
  top: 70px;
  left: 100px;
  font-size: 0.5em;
  }

  .bouton_infos
  {
  padding: 10px 20px;
  font-size: 0.5em;
  }
}









/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  .presentation
  {
   display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.4em;
  }

  .logo
  {
    margin-bottom: 15px;
  }

  .menu_navigation a
  {
    border: 0px;
    border-radius: 0px;
  }
  
  .menu_navigation a:hover
  {
     border-top: 2px solid rgb(70, 140, 173);
     padding-top: 30px;
  }

  .texte_presentation
  {
  top: 140px;
  left: 190px;
  font-size: 0.8em;
  }

  .bouton_infos
  {
  padding: 15px 30px;
  font-size: 0.8em;
  }
}


/*_____première partie section nos services_______________________________*/

.nos_services
{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%%;
  margin: auto;
}

.nos_services p
{
  color: rgb(136, 139, 143);
  font-size: 0.7em;
  margin-top: 50px;
}

.point_bleu_services
{
  border: 2px solid rgb(92, 173, 211);
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  width: 12px;
  height: 12px;
}

.point_bleu_services span 
{
  position: relative;
}
 
.point_bleu_services span:before,
.point_bleu_services span:after 
{
  content: "";
  position: absolute;
  border-bottom: 2px solid rgb(238, 235, 235);
  width: 85px;
  height: 7px;
  top: 40%;
  margin-top: -3px;
}
 
.point_bleu_services span:before 
{
  right: 100%;
  margin-right: 10px;
}
 
.point_bleu_services span:after 
{
  left: 100%;
  margin-left: 10px;
}


/*_____________deuxième partie section nos services_______________________*/

.mac
  {
    max-width: 100%;
  }

.ordi_services
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icones_texte_services p
{
  color: rgb(136, 139, 143);
}

.icones_texte_services
{
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.7em;
}

.ensemble_ux
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ensemble_ux i
{
  color: rgb(92, 173, 211);
  border: 2px solid rgb(238, 235, 235);
  border-radius: 50%;
  padding: 13px 13px;
  position: relative;
  margin-right: 25px;
}

.ensemble_ux .icone_ux
{
  border: 2px solid rgb(92, 173, 211);
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: -7px;
  right: -5px;
}

.ensemble_ui
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ensemble_ui i 
{
   color: rgb(92, 173, 211);
  border: 2px solid rgb(238, 235, 235);
  border-radius: 50%;
  padding: 13px 11px;
  position: relative;
  margin-right: 25px;
}

.ensemble_ui .icone_ui
{
  border: 2px solid rgb(92, 173, 211);
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: -7px;
  right: -5px;
}

.ensemble_seo
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ensemble_seo i 
{
  color: rgb(92, 173, 211);
  border: 2px solid rgb(238, 235, 235);
  border-radius: 50%;
  padding: 13px 15px;
  position: relative;
  margin-right: 25px;
}

.ensemble_seo .icone_seo
{
  border: 2px solid rgb(92, 173, 211);
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: -7px;
  right: -5px;
}

/*_________________________media queries tablets________________________*/

@media(min-width:768px)
{
  @keyframes animationmac
  {
    0%
    {
      transform: rotateX(0deg) scale(1, 1);
    }
    100%
    {
      transform: rotateX(360deg) scale(0.5, 0.5);
    }
  }


  .mac:hover
  {
    animation: animationmac 2s ease alternate;
  }

  .nos_services
  {
    width: 50%;
  }

  .icones_texte_services
  {
    font-size: 0.9em;
  }

  .nos_services p
  {
    font-size: 1em;
  }
}









/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  .ordi_services
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 450px;
  }

  .nos_services
  {
    margin-bottom: 40px;
  }

  .nos_services h2
  {
    font-size: 3.5em;
  }

  .icones_texte_services
  {
    width: 40%;
    align-self: flex-end;
  }

  .mac
  {
    align-self: flex-start;
  }
}

/*___________________________section nos projets___________________*/

#portfolio
{
  margin-top: 40px;
}

.nos_projets
{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%%;
  margin: auto;
}

.nos_projets p
{
  color: rgb(136, 139, 143);
  font-size: 0.7em;
  margin-top: 50px;
}

.menu_projets ul
{
   display: flex;  
   justify-content: center;  
   align-items:center;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

.menu_projets li
{
  list-style-type: none;
  display: inline-block;  
  display: inline-table;
  border-collapse: collapse;
}


.menu_projets a
{
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(136, 139, 143);
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgb(238, 235, 235);
  margin-right: -2px;
  position: relative;
}


.menu_projets a:focus
{
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgb(92, 173, 211);
  margin-right: -2px;
  border-bottom: 2px solid rgb(70, 140, 173);
}

.menu_projets a:focus:after
{
    content: "";
    border: 5px solid transparent;
    border-top: 5px solid rgb(76,140,170);
    position: absolute;
    margin-top: 28px;
    margin-left: -30px;
}


.all_w 
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.port
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*__________________images portfolio______*/

#all_works
{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img_portfolio
{
  max-width: 100%;
  margin-right: 10px;
  position: relative;
}

.img
{
  max-width: 100%;
  height: 200px;
  transform: scale(0.8);
}

.texte_img
{
  position: absolute;
  color: white;
  max-width: 100%;
  left:30px;
  top:120px;
}

.texte_img i
{
  position: absolute;
  left:192px;
  top:-3px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgb(92, 173, 211);
  padding: 10px 10px;
  font-size: 0.7em;
  max-width: 100%;
}

.texte_img p 
{
  background-color: rgba(15,15,15,0.5);
  max-width: 100%;
  font-size: 0.9em;
  padding: 5px 59px 20px 6px;
}

#creative
{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#corporate
{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#portfolio_img
{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*_________________________media queries tablets________________________*/
@media(min-width:768px)
{
  .nos_projets
  {
    width: 50%;
  }

  .nos_projets p
  {
    font-size: 1em;
  }

  .menu_projets a
  {
    font-size: 1em;
  }

  .menu_projets a:focus
  {
    font-size: 1em;
  }

  .menu_projets a:focus:after
  {
   margin-top: 29px;
   margin-left: -40px;
  }

  .texte_img i
  {
    font-size: 1.2em;
  }
}


/*________________________________media queries desktop__________*/
@media(min-width:991px)
{
  .nos_projet
  {
    margin-bottom: 40px;
  }

  .nos_projets h2
  {
    font-size: 3.5em;
  }
}